html, body {
  margin: 0;
  padding: 0;
  background-color: #d9e6fa;
}

div#main {
  height: 100%;
  max-width: 32em;
  font-size: 1.5em;
  margin: 3em auto;
  padding: 3em;
  background-color: white;
}

h2, h3 {
  margin: 0;
}

span.date {
  float: right;
}

ul.posts {
  padding: 0;
  list-style-type: none;
}

ul.posts p {
  margin: 0;
}

ul.posts li {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 > a {
  color: black;
}

a.more {
  font-size: 2em;
  line-height: 0.1em;
}
