html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5em; /* Larger base font size */
  line-height: 1.25em;
  background-color: #d9e6fa; /* Blue background */
}

div#top {
  margin: 0;
  background-color: black;
  color: white;
  padding: 2em 0;
}

div#drop {
  margin: 3em auto -3em; /* centered with drop */
  background-color: black;
  max-width: 38em; /* main width plus padding */
  padding: 0 3em 3em;
}

div#main {
  margin: 0 auto 3em; /* centered */
  background-color: white;
  max-width: 32em; /* Cap width of page for easy reading */
  padding: 3em;
}

div#top a {
  color: white; /* links are blue/purple by default */
}

div#topnav {
  float: right;
}

h1, h2, h3 {
  margin: 0;
}

span.date {
  float: right;
}

ul.posts {
  padding: 0;
  list-style-type: none;
}

ul.posts p {
  margin: 0;
}

ul.posts li {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.more {
  font-size: 2em;
  line-height: 0.1em;
}
