html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.5em; /* Larger base font size */
  background-color: #d9e6fa; /* Blue background */
}

div#top {
  margin: 0;
  padding: 2em 0;
}

div#topnav {
  float: right;
}

div#drop {
  color: white;
  background-color: black;
  margin: 3em auto -3em; /* centered with drop */
  max-width: 38em; /* main width plus padding */
  padding: 0 3em 3em;
}

div#main {
  margin: 0 auto 3em; /* centered */
  background-color: white;
  max-width: 32em; /* Cap width of page for easy reading */
  padding: 3em;
  line-height: 1.4em;
}

/* Decrease padding on smaller screens */
@media(max-width: 58em) {
  div#main {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  body {
    background: white;
  }
  div#drop {
    margin: 0 auto;
    padding: 0 0.5em;
  }
  div#topnav {
    float: none;
    margin-bottom: 1em;
  }
}

div#top a {
  color: white; /* links are blue/purple by default */
}

h1, h2, h3 {
  margin: 0;
  font-family: Georgia, serif;
  font-weight: normal;
}

span.date {
  float: right;
}

ul.posts {
  padding: 0;
  list-style-type: none;
}

ul.posts p {
  margin: 0;
}

ul.posts li {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.more {
  font-size: 2em;
  line-height: 0.1em;
}
