<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/rouge-github.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="canonical" href="https://mcpherrin.ca{{ page.url | replace:'index.html','' }}" />
  </head>
  <body>
    <div id=drop>
      <div id=top>
        <div id=topnav>
          <a href="/">Home</a>
        | <a href="/about.html">About</a>
        </div>
        <h1><a href="/">Matthew&nbsp;McPherrin</a></h1>
      </div>
    </div>
    <div id=main>
{{ content }}
    </div>
  </body>
</html>
