<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div id=drop>
      <div id=top>
        <div id=topnav>
          <a href="/">Home</a>
        | <a href="/about.html">About</a>
        | <a href="https://twitter.com/mcpherrinm">Twitter</a>
        | <a href="https://github.com/mcpherrinm">Github</a>
        </div>
        <h1><a href="/">Matthew McPherrin</a></h1>
      </div>
    </div>
    <div id=main>
{{ content }}
    </div>
  </body>
</html>
